.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 50px;
  
  .hamBtn {
    display: none;
    color: $primary;
  }
  
  .logo {
    .logoImg {
      height: 40px;
    }
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    width: 320px;
  }
  
  .navItem {
    padding: 10px 0;
  }
  
  .menu {
    line-height: 30px;
    color: $primary;
    text-decoration: none;
    
    &:hover {
      color: $secondary;
    }

  }

  .cart{
    margin-left: 64px;
    
    .cartIcon {
      font-size: 24px;
      color: $primary;
          
      &:hover {
        color: $secondary;
      }
    }
  
  }
}


@media (max-width: 768px) {
  .header {
    position: relative;
    padding: 10px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .logo {
      width: auto;
  
      .logoImg {
        height: 30px;
      }
    }
    
    .hamBtn {
      display: block;
      position: absolute;
      left: 15px;
    }
    
    .nav {
      position: absolute;
      top: 100%;
      width: 100%;
      max-height: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      overflow: hidden;
      z-index: 120;
    }
    
    .nav.active {
      max-height: 500px;
    }
    
    .navItem {
      display: block;
      background-color: #518670;
      color: #fff;
      border-top: 1px solid #fff;
      padding: 16px 0;
    }
    
    .navItem:hover {
      background-color: #45625A;
    }

    .menu {
      color: #fff;
    }

    .cart{
      position: absolute;
      right: 15px;
      margin-left: 0px;
  
      .cartIcon {
        font-size: 24px;
      }
    }
  }
}