.parallax {
  background: url("https://hexschool-api.s3.us-west-2.amazonaws.com/custom/heXHLY8GT5EsqlfpAvXKDWmEgrf8ibNtY4hfYQcIrwxK4Hp4oKLK4GEdXdimONkbVKY9vtMO1cO1bosj9XUeM6Zb7r4OdeGRw4oDMzGXObKymOHtSUkhAl0MyfjotQRT.jpg")center center no-repeat;
  min-height: 400px;
  background-attachment: fixed;
  background-size: cover;

  .callActive {
    bottom: 25%;

    .subscribeBtn {
      width: 25%;
      border: none;

      &:hover {
        background-color: $secondary;
      }

      @media (max-width:768px) {
        width: 35%;
      }
    }
  }
}