* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto','Raleway', -apple-system, BlinkMacSystemFont, 'Noto Sans TC', "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul, li{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}