.donePageImg {
  background-image: url(https://images.unsplash.com/photo-1567708233986-87de01b33b62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
  height: 350px;
  background-attachment: fixed;
  background-size: cover;
}