.indexAboutImg {
  background-image: url(https://images.unsplash.com/photo-1514163061636-02db31852e84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80);
  min-height: 600px;

  @media (max-width: 768px) {
    height: 300px;
  }
}

.aboutTxt {
  background-color: $lightest;
    
  @media (max-width: 768px) {
    margin-top: 624px;
    background-color: #fff;
  }
}

.featureImg {
  height: 500px;
  width: 100%;

  @media (max-width: 768px) {
    height: 300px;
  }
}

.featureContents {
  width: 40%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.findUsContent {
  width: 40%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.findUsMap {
  width: 60%;

  @media (max-width: 768px) {
    width: 100%;
  }

  iframe {
    height: 450px;
    border-radius: 10px;

    @media (max-width: 768px) {
      height: 300px;
    }
  }
}