.indexAbout {
  @media (max-width: 768px) {
      padding-bottom: 308px;
    }

  .storyArea {
    @media (max-width: 768px) {
      position: relative;
    }

    .aboutTxt {
      @media (max-width: 768px) {
        border-radius: 10px;
      }
    }

    .aboutPhoto {
      @media (max-width: 768px) {
          position: absolute;
          top: 350px;
        }

      @media (max-width: 426px) {
        top: 380px
      }

      @media (max-width: 320px) {
        top: 420px;
      }
      
      .aboutImg {
        height: 650px;
  
        @media (max-width: 768px) {
          height: 357px;
        }
      }
    }

    .aboutTxt {
      max-width: 500px;
      padding: 80px 50px;
      text-align: justify;
      background-color: $lightest;
  
        @media (max-width: 768px) {
          max-width: 400px;
          padding: 50px 30px 70px 30px;
        }
    }
  }
}

.featureBackground {
  background-image: url(https://hexschool-api.s3.us-west-2.amazonaws.com/custom/4AxMmtmje0qtvY7pnMrVavZcIHRVGGQfJZxlZEzZUlVdXSVBKyiKAmkZngckPbuxEAqx0sHPRjbWEbvIdSYvlD3n0l5ic2ahLMnoo6DvQ9OEbzJUxlSYTDzM6ym7XKxF.jpg);


  .featureTitle {
    padding-top: 24px;
  }

  .featureSubTitle {
    padding-bottom: 94px;
  }
}

.faetureIconsWrap {
  margin-top: -70px;
  
  .featureIcon {
    max-height: 140px;
  }
}