.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: $text;
}

.returnIcon {
    vertical-align: middle;
}


.productDetailCollapse {
    .collapseHeader {
        padding: 18px 16px 19px 16px;
    }
    

    .totalSpan {
        &.active {
            display: none;
        }
    }

    .collapse {
        .card-body {
            li img {
                max-width: 48px;
                // height: 48px;
                object-fit: cover;
            }
        }
    }
}

.form-group {
    button {
        color: white;
    }
}


.customerInfo {
    .formGroupLabel {
        font-size: 20px;
        line-height: 24px;
    }
}

//customerInfoCheck
.infoSpan, .shipSpan {
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;

    &.active {
        display: none;
    }
}