.products {
  .productsBanner {
    background-image: url('https://raw.githubusercontent.com/TartarTuna/EC_images/master/subscribe.jpg');
    height: 500px;
    background-position: center center;
    background-size: cover;
  }

  .categories {
    margin-bottom: 80px;

    .categoryItem {
      background-color: $primary;
      border-radius: 50px;
      margin-right: 30px;

      &:hover {
        background-color: $secondary;
        color: $primary;
      }

      @media (max-width:768px) {
        margin-right: 0px;
        width: 50%;
      }

      a {
        display: inline-block;
        padding: 5px 30px;
        color: #ffffff;
        font-size: 16px;
        line-height: 20px;

        @media (max-width:768px) {
        padding: 10px 30px;
        }

        &:hover {
        color: $primary;
        }
      }
    }
  }

  .productList {
    .productCards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .productCard {
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        width: 31%;
        text-align: center;
        justify-content: center;

        @media (max-width:768px) {
          width: 100%;
        }

        .productInfo {
          cursor: pointer;
        }

        .productImg {
          margin-bottom: 16px;
          background-size: cover;
          background-position: center;
          height: 250px;
          border-radius: 10px;
          max-width: 300px;
          margin: 0 auto;
        }

        .productTitle {
          color: #212121;
          font-weight: bold;
          line-height: 24px;
        }

        .productPrice {
          margin-bottom: 24px;

          .delPrice {
            margin-right: 8px;
            color: #555555;
            font-size: 12px;
          }

          .salePrice {
            color: #691b5a;
          }
        }

        .addCartBtn {
          display: inline-block;
          margin: 0 auto;
          padding: 5px 24px;
          border-radius: 50px;
          color: #ffffff;
          cursor: pointer;
          font-size: 16px;
          background-color: $primary;
      
          &:hover {
            background-color: $secondary;
            border-radius: 50px;
            color: $primary;
          }
        }
      }
    }
  }
}
