.products {
  .productsBanner {
    background-image: url('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/Hzih9o4178zjCDw0gMbkF0hO4eGgP0Wy1oTkyVHn65E5ouAxjDxxo8MNKpWZukSAgq3vyUmNlITefHNRqUgb2unLu1uGPbQ2exr9DW0KQteYiNwtTvph623Ql4jEkqeB.jpg');
    height: 450px;
    background-position: center center;
    background-size: cover;

    @media (max-width: 768px) {
      height: 200px;
    }
  }

  .categories {
    border-bottom: 1px solid $primary;

    @media (max-width: 768px) {
      .bd-b-sm {
        border-bottom: 1px solid $primary;
      }
    }

    .categoryItem {
      width: 15%;

      &:hover {
        background-color: $primary;
        color: #ffffff;
      }

      @media (max-width:768px) {
        width: 100%;
      }

      a {
        color: $primary;
      }

      .categoryIcon {
        display: block;
        width: auto;
        padding: 16px 0;
        font-size: 24px;
        line-height: 24px;

        &:hover {
          color: #ffffff;
        }

      }
    }

    .activeEffect {
      background-color: $primary;
      color: #ffffff;
    }
  }

  .productList {
    .productCards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .productCard {
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        width: 31%;
        text-align: center;
        justify-content: center;

        @media (max-width:768px) {
          width: 100%;
        }

        .productInfo {
          cursor: pointer;
          
          .productImgWrap {
            margin: 0 auto;
            max-width: 300px;
            height: 250px;
            overflow: hidden;
            border-radius: 10px;

            .productImg {
              margin-bottom: 16px;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              height: 250px;
              border-radius: 10px;
              -webkit-transition: all .5s;
              -moz-transition: all .5s;
              -o-transition: all .5s;
              transition: all .5s;
    
              &:hover {
                -ms-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -o-transform: scale(1.2);
                transform: scale(1.2);
              }
            }
          }

        }


        .productTitle {
          color: #212121;
          font-weight: bold;
          line-height: 24px;
        }

        .productPrice {
          margin-bottom: 24px;

          .delPrice {
            margin-right: 8px;
            color: #555555;
            font-size: 12px;
          }

          .salePrice {
            color: #691b5a;
          }
        }

        .addCartBtn {
          display: inline-block;
          margin: 0 auto;
          padding: 5px 24px;
          border-radius: 50px;
          color: #ffffff;
          cursor: pointer;
          font-size: 16px;
          background-color: $primary;
      
          &:hover {
            background-color: $secondary;
            border-radius: 50px;
          }
        }
      }
    }
  }
}
