.moreProducts {
  .moreProductsTitle {
    &::before {
      position: absolute;
      content: '';
      top: 18px;
      left: -80px;
      width: 60px;
      height: 2px;
      background-color: $primary;
    }

    &::after {
      position: absolute;
      content: '';
      top: 18px;
      right: -80px;
      width: 60px;
      height: 2px;
      background-color: $primary;
    }

  }
}